@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
/* color varible */
:root {
  --primary-color: #491dc4;
  --primary-color-light: #3f16b2;
  --primary-color-deep: #0f052b;
  --primary-shadow-color: #e0d4ff;
  --secondary-color: #ffd9d9;
  --secondary-color-deep: #ff8787;
  --secondary-shadow-color: #ffe3e3;
  --color-white: #fff;
  --color-black: #000;
  --color-white-light: #d6d6d6;
  --color-black-light: #6c6c6c;
  --heading-font-family: "Kanit", sans-serif;
  --heading-font-size: 3rem;
  --heading-font-weight: 700;
  --heading-font-weight-thin: 500;
  --paragraph-font-family: "Catamaran", sans-serif;
  --paragraph-font-size: 1rem;
  --paragrahp-line-height: 1.1rem;
  --paragraph-font-weight: 500;
  --paragragh-font-color: var(--color-black);
  --link-color: var(--secondary-color);
}
/*=============================
Common CSS start
===============================*/
body {
  line-height: 1.5;
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);

  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-weight: var(--heading-font-weight);
}
h4,
h5,
h6 {
  font-weight: var(--heading-font-weight-thin);
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1.1rem;
}
body.scroll_hide {
  overflow-y: hidden;
}
a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
a,
span,
small {
  display: inline-block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--hover-color);
}
a,
button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 03s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-decoration: none;
  color: inherit;
}
a:focus,
.btn:focus,
button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
p {
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  color: var(--paragraph-color);
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

*::-moz-selection,
::-moz-selection,
::selection {
  background-color: var(--primary-color);
  text-shadow: none;
}
.section-title {
  font-size: 3rem;
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: var(--primary-color);
}
.section-sub-title {
  font-size: 1.1rem;
  font-family: var(--body-font-family);
  font-style: italic;
  color: var(--primary-bg-color);
  padding: 0.5rem 0;
}
.section-paragraph {
  color: var(--color-black-light);
}
tbody,
td,
tfoot,
th,
thead,
tr {
  vertical-align: middle;
}

/* .section-title{
    font-size: 3rem;

} */
/* Background color */
.bg-linear-gradient {
  background: linear-gradient(
    90deg,
    rgba(63, 22, 178, 1) 0%,
    rgba(63, 22, 178, 1) 57%,
    rgba(255, 217, 217, 1) 100%
  );
}
.color-snd {
  color: var(--secondary-color);
}
.my-bg-primary {
  background-color: var(--primary-color);
}

.my-bg-primary-deep {
  background-color: var(--primary-color-deep);
}
.my-bg-secondary {
  background-color: var(--secondary-color);
}
.my-bg-secondary-deep {
  background-color: var(--secondary-color-deep);
}
/* color */
.my-color-primary {
  color: var(--primary-color);
}
.my-color-secondry {
  color: var(--secondary-color);
}
.my-color-secondry-deep {
  color: var(--secondary-color-deep);
}
.my-color-white {
  color: var(--color-white);
}
.my-color-black {
  color: var(--color-black);
}
.my-color-black-light {
  color: var(--color-black-light);
}

/* Padding */
.ct_pt-3 {
  padding-top: 3rem;
}
.ct_pt-5 {
  padding-top: 5rem;
}
.ct_pb-3 {
  padding-bottom: 3rem;
}
.ct_py-5 {
  padding: 5rem 0;
}
.ct_pl-3 {
  padding-left: 3rem;
}
.ct_pr-3 {
  padding-right: 3rem;
}

/* Margin */
.ct_mt-3 {
  margin-top: 3rem;
}
.ct_mt-5 {
  margin-top: 5rem;
}
.ct_mb-3 {
  margin-bottom: 3rem;
}
.ct_my-5 {
  margin: 5rem 0;
}
.ct_ml-3 {
  margin-left: 3rem;
}
.ct_mr-3 {
  margin-right: 3rem;
}

/* button */
.custom-btn {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: var(--color-white);
}
.custom-btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
.custom-btn-2 {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--secondary-color-deep);
  color: var(--color-white);
}
.custom-btn-2:hover {
  color: var(--primary-bg-color);
  background-color: var(--secondary-color);
}
/* header css */
.ct-shadow {
  box-shadow: 10px 0px 10px 1px var(--secondary-color-deep);
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: var(--white-bg);
}
.header .container {
  max-width: 1200px;
  margin: 0 auto;
}
.header .container .header_main {
  background: var(--white-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.header .container .header_main .logo {
  /* background: var(--hover-color); */
  padding: 0 12px;
}
.header .container .header_main .logo a {
  font-size: 30px;
  text-transform: capitalize;
  color: var(--text-color);
  font-weight: 600;
}
.header .container .header_main .nav_menu {
  /* background: var(--border-bottom); */
  padding: 0 12px;
}
.header .container .header_main .nav_menu .menu > .menu_item {
  display: inline-block;
  margin: 0px 10px;
  position: relative;
}
.header .container .header_main .nav_menu .menu > .menu_item > a {
  display: block;
  padding: 12px 0px;
  text-transform: capitalize;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.header .container .header_main .nav_menu .menu > .menu_item > a.active {
  color: var(--primary-bg-full);
}
.header .container .header_main .nav_menu .menu > .menu_item > a .plus {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: relative;
  margin-left: -1px;
  pointer-events: none;
}
.header .container .header_main .nav_menu .menu > .menu_item > a .plus::before,
.header .container .header_main .nav_menu .menu > .menu_item > a .plus::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  background: var(--secondary-color-deep);
  width: 100%;
  height: 2px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.header
  .container
  .header_main
  .nav_menu
  .menu
  > .menu_item:hover
  > a
  .plus::before,
.header
  .container
  .header_main
  .nav_menu
  .menu
  > .menu_item:hover
  > a
  .plus::after {
  background: var(--hover-color);
}
.header .container .header_main .nav_menu .menu > .menu_item > a .plus::after {
  transform: translate(-50%, -50%) rotate(-90deg);
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -moz-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  -o-transform: translate(-50%, -50%) rotate(-90deg);
}
.header
  .container
  .header_main
  .nav_menu
  .menu
  > .menu_item
  > .sum_menu
  > .menu_item
  > a:hover,
.header .container .header_main .nav_menu .menu > .menu_item:hover > a {
  color: var(--secondary-color-deep);
}
.header .container .header_main .nav_menu .menu > .menu_item > .sum_menu {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: var(--white-bg);
  width: 180px;
  position: absolute;
  left: 0;
  top: 100%;
  border-top: 3px solid var(--hover-color);
  transform: translateY(30px);
  -webkit-transform: translateY(30px) rotateY(45deg);
  -moz-transform: translateY(30px) rotateY(45deg);
  -ms-transform: translateY(30px) rotateY(45deg);
  -o-transform: translateY(30px) rotateY(45deg);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 992px) {
  .header
    .container
    .header_main
    .nav_menu
    .menu
    > .menu_item_has_children:hover
    > .sum_menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    background: white;
    border-top: 3px solid var(--secondary-color-deep);
    border-radius: 5px;
  }
  .header
    .container
    .header_main
    .nav_menu
    .menu
    > .menu_item_has_children:hover
    > a
    .plus::after {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
  }
}
.header
  .container
  .header_main
  .nav_menu
  .menu
  > .menu_item
  > .sum_menu
  > .menu_item {
  display: block;
}
.header
  .container
  .header_main
  .nav_menu
  .menu
  > .menu_item
  > .sum_menu
  > .menu_item
  > a {
  display: block;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.nav_menu .close_mobile_nav,
.header .mobile_nav {
  order: 3 !important;
  width: 50px;
  height: 40px;
  background: var(--primary-bg-full);
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nav_menu .close_mobile_nav {
  margin: 15px 15px 25px 15px;
  width: 50px;
  height: 40px;
  display: none;
  background: var(--primary-bg-full);
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nav_menu .close_mobile_nav .hamburger_menu,
.header .mobile_nav .hamburger_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_menu .close_mobile_nav .hamburger_menu::before,
.nav_menu .close_mobile_nav .hamburger_menu::after,
.header .mobile_nav .hamburger_menu::before,
.header .mobile_nav .hamburger_menu::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--color-white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nav_menu .close_mobile_nav .hamburger_menu::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.nav_menu .close_mobile_nav .hamburger_menu::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.header .mobile_nav .hamburger_menu::before {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}
/* .nav_menu .close_mobile_nav .hamburger_menu::after, */
.header .mobile_nav .hamburger_menu::after {
  transform: translateY(8px);
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
}
/* .nav_menu .close_mobile_nav .hamburger_menu span, */
.header .mobile_nav .hamburger_menu span {
  position: absolute;
  width: 30px;
  height: 3px;
  background: var(--color-white);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.header .menu_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  cursor: pointer;
}
.header .menu_overlay.active {
  opacity: 1;
  visibility: visible;
}
/* responsive */
@media screen and (max-width: 991px) {
  .header .container .header_main .nav_menu {
    display: block;
    position: fixed;
    right: -290px;
    visibility: hidden;
    width: 280px;
    top: 0;
    height: 100%;
    z-index: 100;
    background: var(--color-white);
    padding: 10px 0px;
    overflow-y: auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  .header .container .header_main .nav_menu.open {
    right: 0px;
    visibility: visible;
  }
  .header .container .header_main .nav_menu.open .close_mobile_nav {
    display: flex;
    background-color: var(--primary-color);
  }
  .header .container .header_main .nav_menu .menu > .menu_item {
    display: block;
    margin: 0;
    padding: 0;
  }
  .header
    .container
    .header_main
    .nav_menu
    .menu
    > .menu_item_has_children
    > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .container .header_main .nav_menu .menu > .menu_item > a {
    color: var(--text-color);
    padding: 12px 15px;
    border-bottom: 1px solid var(--secondary-color-deep);
  }
  .header .container .header_main .nav_menu .menu > .menu_item:first-child > a {
    border-top: 1px solid var(--secondary-color-deep);
  }
  .header
    .container
    .header_main
    .nav_menu
    .menu
    > .menu_item
    > a
    .plus::before,
  .header
    .container
    .header_main
    .nav_menu
    .menu
    > .menu_item
    > a
    .plus::after {
    background: var(--secondary-color-deep);
  }

  .header .container .header_main .nav_menu .menu > .menu_item > .sum_menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: relative;
    opacity: 1;
    visibility: visible;
    border: none;
    background: transparent;
    box-shadow: none;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    padding: 0px;
    top: auto;
    left: auto;
  }
  .header
    .container
    .header_main
    .nav_menu
    .menu
    > .menu_item
    > .sum_menu
    > .menu_item
    > a {
    color: var(--text-color);
    padding: 12px 10px 12px 45px;
    border-bottom: 1px solid var(--secondary-color-deep);
  }
  .header
    .container
    .header_main
    .nav_menu
    .menu
    > .menu_item_has_children.active
    > a
    .plus::after {
    transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    -moz-transform: translate(-50%, -50%) rotate(0deg);
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -o-transform: translate(-50%, -50%) rotate(0deg);
  }
  .header .mobile_nav {
    display: flex;
    background-color: var(--primary-color);
  }
}
.header .user_action .shipping_card {
  position: relative;
  margin-right: 10px;
}
.header .user_action .shipping_card span {
  position: absolute;
  width: 55%;
  height: 57%;
  left: 45%;
  top: -25%;
  background: var(--secondary-color-deep);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* home section */
.home_section {
  width: 100%;
  margin-top: 65px;
  display: block;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}
.home_section h1 {
  color: var(--color-white);
}
.home_section p {
  color: var(--color-white-light);
}
.home_section .left {
  padding-right: 4rem;
}
.home_section .right {
  transition: 3s ease;
  -webkit-transition: -webkit-transform 3s ease; /* Safari and older versions of Chrome */
  -moz-transition: -moz-transform 3s ease; /* Old versions of Firefox */
  -ms-transition: -ms-transform 3s ease;
}

.home_section .right {
  transition: 1s ease-in-out;
}

/*=============================
Why Us
===============================*/
#why-us {
  background-color: var(--primary-color);
}
#why-us h2 {
  color: var(--color-white);
}
#why-us .icon-box {
  background-color: var(--color-white);
  border-radius: 10px;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
}
#why-us .icon-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transition: 0.5s ease-in-out;
  top: 100%;
  left: 0;
}
#why-us .icon-box:hover::before {
  background-color: var(--secondary-color);
  top: 0;
  transition: background-color 0.3s ease-in-out;
  z-index: 2;
}
#why-us .icon {
  font-size: 1.5rem;
  color: var(--primary-color);
  position: relative;
  z-index: 3;
}
#why-us .icon-box .icon i {
  background-color: var(--secondary-color);
  padding: 0.8rem 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  transition: 0.7s ease-in-out;
}
#why-us .icon-box .icon-content {
  padding: 2rem 1rem 1rem 1rem;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 10px;
  position: relative;
  z-index: 3;
}

#why-us .icon-box:hover > .icon {
  color: var(--secondary-color);
}
#why-us .icon-box:hover > .icon i {
  background: var(--primary-color);

  transform: rotateY(360deg);
}
/* #why-us .icon-box .icon-content::after {
} */

/*=============================
Why Us
===============================*/

/*=============================
Packages
===============================*/
/* #packages {
} */
#packages .card {
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
}
#packages .card-title {
  background-color: var(--primary-color-light);
  color: var(--color-white);
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  padding: 1.5rem 0;
}
#packages .card .card-body {
  transition: 0.5s ease;
}
#packages .card .card-body .price {
  display: flex;
  align-items: first baseline;
  gap: 1.5rem;
  justify-content: center;
}
#packages .card .card-body .price .regular-price {
  font-size: 1.5rem;
}
#packages .card .card-body .price .sale-price {
  font-size: 1.5rem;
  font-family: var(--heading-font-family);
  padding: 1rem 0;
}
#packages .card .card-body .price .sale-price sup {
  top: -1.5rem;
}
.ext-font-size {
  font-size: 4rem;
}
#packages .card .card-body .pc-list {
  height: 300px;
  overflow-y: scroll;
  transition: 0.5s ease-in;
}
/* scroll bar start */
#packages .card .card-body .pc-list::-webkit-scrollbar {
  width: 10px;
  display: none;
  opacity: 0;
  border-radius: 5px;
  transition: 0.5s ease-in;
}

#packages .card .card-body .pc-list::-webkit-scrollbar-track {
  background-color: var(--secondary-color); /* Track color */
  border-radius: 5px;
  transition: 5s ease;
}

#packages .card .card-body .pc-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

#packages .card .card-body:hover > .pc-list::-webkit-scrollbar {
  display: block;
  transition: all 0.5s ease;
}

/* scroll bar end */
#packages .card .card-body ul li i {
  color: var(--primary-color);
}

/*=============================
individual Tools pirce
===============================*/
#tools-price {
  overflow: hidden;
}

#tools-price .card {
  border-color: var(--secondary-color);
  color: var(--color-black-light);
  transition: 0.3s ease;
}
#tools-price .card:hover {
  box-shadow: 0px 0px 40px 10px var(--secondary-shadow-color);
}

#tools-price .card h4 {
  color: var(--primary-color-deep);
  font-weight: 500;
}
#tools-price .card .card-title {
  color: var(--primary-color-deep);
  font-weight: 500;
}

/*=============================
Footer
===============================*/
footer {
  background-color: var(--primary-color);
  color: var(--color-white);
}
footer .contact i {
  color: var(--secondary-color-deep);
}
footer .social i {
  font-size: 1.3rem;
  color: var(--secondary-color);
  transition: 0.3s ease;
}
footer .social i:hover {
  color: var(--color-white);
}

footer .quick-link li {
  padding-bottom: 0.5rem;
}
footer input {
  border-radius: 10px;
  border: none;
  outline: none;
}
footer .sub-button {
  padding: 5px 10px;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--secondary-color-deep);
  color: var(--color-white);
  transition: 0.5s ease;
}
footer .sub-button:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color-deep);
}

/*=============================
login page
===============================*/

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #793bca;
}
.login-page h4 {
  color: var(--color-white);
}
.login-page .lr-form-body {
  width: 40%;
}
.lr-form-body {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10%;
  padding: 2rem 4rem;
}
.lr-form-body input {
  border: none;
  color: var(--color-white);
  width: 100%;
  outline: none;
  position: relative;
}
.lr-form-body .lr-form-input {
  position: relative;
}
.lr-form-body .lr-form-input i {
  position: absolute;
  color: var(--secondary-color-deep);
  left: 4%;
  top: 50%;
  transform: translateY(-50%);
}
.lr-form-body .my-lr-form-input {
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-color-deep);
  padding-left: 25px;
}
.lr-form-body p {
  color: var(--color-white);
}
.lr-form-body p span {
  color: var(--secondary-color-deep);
}
.lr-form-body .form-check-input {
  width: 1rem;
  color: var(--color-white);
}
.lr-form-body .form-check {
  color: var(--color-white);
}
.lr-form-body .form-check-input:checked {
  background-color: var(--secondary-color-deep);
}
/*=============================
Registration page
===============================*/
.registration-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #793bca;
}
.registration-page h4 {
  color: var(--color-white);
}
.registration-page .lr-form-body {
  width: 60%;
}
.registration-page .no-spinner {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: textfield;
  width: 100%;
}

/*=============================
Cart page
===============================*/
.cart-page .pirce-calculation-box .table tbody td {
  height: 70px;
  vertical-align: middle;
}
.cart-page .pirce-calculation-box .tb-extra-width1 {
  width: 40px;
}
.cart-page .pirce-calculation-box table thead th {
  background-color: var(--primary-color-light);
  color: var(--color-white);
  font-size: 1.1rem;
}
.cart-page .cart-total {
  background-color: var(--secondary-color);
  border-radius: 25px;
}
.cart-page .cuppon-box input {
  outline: none;
  border: none;
}
.cart-page .cuppon-box .cpn-box-input {
  border: 1px solid var(--secondary-color-deep);
}
.cart-page .cuppon-box button {
  border-radius: 0;
}

/* .cart-page .cart-total table th td {
  border-radius: 25px;
} */

/*=============================
Checkout page
===============================*/
.checkout-page .payment-methord .pay-name img {
  width: 20px;
  height: 20px;
}
.checkout-page .payment-box {
  background-color: var(--primary-shadow-color);
  border-radius: 20px;
  padding: 1rem;
}

/*=============================
User Dashboard Page
===============================*/
.user-dashboard-page {
  margin-top: 7rem !important;
}
.my-card {
  border: 1px solid var(--secondary-color-deep) !important;
}
.navbar-nav .active {
  background-color: var(--primary-color);
  color: var(--color-white);
}
.my-card .card-body hr {
  color: var(--secondary-color-deep) !important;
}
.my-card .card-body ul {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
}
.my-card .card-body ul li {
  border-bottom: 1px solid var(--primary-color);
  overflow: hidden;
  transition: 0.3s ease;
}
.my-card .card-body ul li:hover {
  background-color: var(--primary-color);
}

.my-card .card-body ul li a:hover {
  transform: translateX(2px);
  transition: 0.3s ease;
  color: var(--color-white);
}
.my-card .card-body ul li:first-child {
  border-radius: 10px 10px 0 0;
}
.my-card .card-body ul li:last-child {
  border-bottom: none;
}
/*=============================
Affiliate Dashboard Page
===============================*/
.affiliate-link {
  outline: none;
  border: none;
}

/* Pagination */
.my-pagination .page-item:first-child .page-link,
.my-pagination .page-item:last-child .page-link {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.my-pagination .pagination .page-item a {
  color: var(--secondary-color-deep);
}
